/*
!.gitignore
!src/
!editor/
!examples/
!build
build/*
!build/parser.tab.c
!build/parser.tab.h
!build/lex.yy.c
!build/abstractstubserver.h
!makefile
!*.makefile
!test
test/run
*.swp
!init-env_bionic.sh
!daemon.json
!install-service_bionic.sh
!yaujd
